*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body {
  font-family: sans-serif;
}

ul{
  list-style-type:none;
}
a {
  text-decoration:none;
}
button {
  font-weight: 500;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor:pointer;
  background-color: orange;
}
.heading-primary {
  color:white;
  font-weight: 250;
  font-size: 50px;
  padding-bottom: 10px;
  text-transform:inherit;
}
.heading-primary span {
  font-weight: 650;
}
.text-white {
  color:white;
}
.container {
  padding: 0 30px;
}
.section {
  padding:70px 0; 
}








